<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
<body>
    <header>
    <section class="prebanner">
        <main class="main-header">
        <div class="logo-y-search">
            <a href="/"><img class="mercado" src="images/logo-mercado-liebre.svg" alt="Logo" width="100%" height="100%"></a>
            <form class="search" action="#" method="GET">
                <input type="search" class="buscar" name="search">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
            <section>
            <div></div>
            <h4 class="titulo"><i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito</h4>
            </section>
        </main>
        <main class="navbar">
            <ul class="barra-izq" style="list-style: none;">
                <li class="blam"><a href="https://www.paginadeofertas.com">Ofertas</a></li>
                <li><a href="https://www.tiendasoficiales.com">Tiendas Oficiales</a></li>
                <li><a href="https://www.vender.com">Vender</a></li>
                <li><a href="https://www.paginadeofertas.com">Ayuda</a></li>
            </ul>
            <ul class="barra-der" style="list-style: none;">
                <li><a href="/register">Creá tu cuenta </a><i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="https://www.miscompras.com">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </main>
            <div class="burger-menu"><button class="burger"><i class="fas fa-bars"></i></button></div>
        </section>
            <div class="fondo"><img src="images/img-home-banner.jpg" alt="Logo" width="100%" height="100%"></div>
    </header>
    <main>
        <h3 class="titulares">Basado en tu última visita</h3>
        <div class="caja-madre">
        <section class="section">
            <article class="imagen-articulo">   
            <img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="100%" height="100%">
            </article> 
            <article class="articulo">    
                <i class="camion fas fa-truck"></i>
            <section class="caja">
                <p class="precio">$6770</p>
                <p class="descuento">40% off</p>
            </section>
            <p class="descripcion">Cafetera Moulinex</p>
            </article>
        </section>
        <section class="section">
            <article class="imagen-articulo">
            <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="100%" height="100%">
            </article>
            <article class="articulo">
                <i class="camion fas fa-truck"></i>
            <section class="caja">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
            </section>
            <p class="descripcion">MacBook Pro 2019</p>
            </article>
        </section>
        <section class="section">
            <article class="imagen-articulo">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="100%" height="100%">
            </article>
            <article class="articulo">
                <i class="camion fas fa-truck"></i>
            <section class="caja">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
            </section>
            <p class="descripcion">Samsung Galaxy S10</p>
            </article>   
        </section>
        <section class="section">
            <article class="imagen-articulo">
            <img src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="100%" height="100%">
            </article>
            <article class="articulo">
                <i class="camion fas fa-truck"></i>
            <section class="caja">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
            </section>
            <p class="descripcion">SmartTv Samsung 43"</p>
            </article>  
        </section>
        </div>
        <div class="caja-madre">
            <h2 class="titulares">Ofertas</h2>
        <section class="section">
            <article class="imagen-articulo">
            <img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="100%" height="100%">
        </article>
            <article class="articulo">
                <i class="camion fas fa-truck"></i>
            <section class="caja">
                <p class="precio">$6770</p>
                <p class="descuento">40% off</p>
            </section>
            <p class="descripcion">Cafetera Moulinex</p>
            </article>
        </section>
        <section class="section">
            <article class="imagen-articulo">
            <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="100%" height="100%">
            </article>
            <article class="articulo">
                <i class="camion fas fa-truck"></i>
            <section class="caja">                   
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
            </section>
            <p class="descripcion">MacBook Pro 2019</p>
            </article>
        </section>
        <section class="section">
            <article class="imagen-articulo">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="100%" height="100%">
            </article>
            <article class="articulo">
                <i class="camion fas fa-truck"></i>
             <section class="caja">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
             </section>
            <p class="descripcion">Samsung Galaxy S10</p>
            </article>
        </section>
        <section class="section">
            <article class="imagen-articulo">
            <img src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="100%" height="100%">
            </article>
            <article class="articulo">
                <i class="camion fas fa-truck"></i>
            <section class="caja">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
            </section>
            <p class="descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>    
        </div>    
    </main>
    <footer>
        <main class="footer-box">
            <section class="footboxes">
            <h1 class="icons"><i class="fas fa-credit-card"></i></h1>
            <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="pfooter"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="footboxes">
            <h1 class="icons"><i class="fas fa-gift"></i></h1>
            <h3>Envío gratis desde $ 2.500</h3>
                <p class="pfooter"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="footboxes">
            <h1 class="icons"><i class="fas fa-user-shield"></i></h1>
            <h3>Seguridad, de principio a fin</h3>
                <p class="pfooter"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
        </section>
        </main>
        <section>
            <div></div>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.<p>
        </section>
    </footer>    
</body>
</html>